.card-header
{
    background-color: rgb(245, 227, 179);
    position: relative;
    max-height: 50px;
}
.card-header .close-button
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 10px;
    background-color: rgb(233, 180, 110);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color:rgb(226, 198, 198);
    cursor: pointer;
}
.card-header .close-button:hover
{
    background-color: rgb(197, 42, 31);
    transition: .2s;
}
.card-body .buttons 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}